/* Custom Navigation Buttons */
.swiper-button-prev,
.swiper-button-next {
  background-color: #D4AF37; /* Gold background */
  width: 50px; /* Reduced size */
  height: 50px; /* Reduced size */
  border-radius: 50%; /* Circle shape */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.swiper-button-prev {
  left: 10px; /* Position from the left */
}

.swiper-button-next {
  right: 10px; /* Position from the right */
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none; /* Hide default Swiper arrows */
}

.arrow-circle {
  display: flex;
  align-items: center;
  justify-content: center;
}